src/clientversion.cpp export-subst
src/qbitcoind filter=lfs diff=lfs merge=lfs -text
src/qbitcoin-cli filter=lfs diff=lfs merge=lfs -text
src/qbitcoin-wallet filter=lfs diff=lfs merge=lfs -text
src/qbitcoin-tx filter=lfs diff=lfs merge=lfs -text
src/qbitcoin-util filter=lfs diff=lfs merge=lfs -text
