function tryParseAddress(address) {
	// QubitCoin: accept Dilithium base58 (q..., r..., etc.) and custom bech32 HRPs
	if (coinConfig.ticker === "QBTC") {
		if (address.match(coinConfig.dilithiumAddressRegex)
				&& !address.match(/^(xpub|ypub|zpub|Ypub|Zpub|tpub|upub|vpub|Upub|Vpub)/)) {
			return {
				encoding: "base58",
				parsedAddress: { address: address, qubitcoin_dilithium: true }
			};
		}
		if (coinConfig.bech32HrpRegex && address.match(coinConfig.bech32HrpRegex)) {
			return {
				encoding: "bech32",
				parsedAddress: { address: address, qubitcoin_bech32: true }
			};
		}
	}

	let base58Error = null;
	let bech32Error = null;
	let bech32mError = null;

	let parsedAddress = null;

	let b58prefix = (global.activeBlockchain == "main" ? /^[13].*$/ : /^[2mn].*$/);
	if (address.match(b58prefix)) {
		try {
			parsedAddress = bitcoinjs.address.fromBase58Check(address);
			parsedAddress.hash = parsedAddress.hash.toString("hex");

			return {
				encoding: "base58",
				parsedAddress: parsedAddress
			};

		} catch (err) {
			base58Error = err;
		}
	}

	try {
		parsedAddress = bitcoinjs.address.fromBech32(address);
		parsedAddress.data = parsedAddress.data.toString("hex");

		return {
			encoding: "bech32",
			parsedAddress: parsedAddress
		};

	} catch (err) {
		bech32Error = err;
	}


	try {
		parsedAddress = bech32m.decode(address);
		parsedAddress.words = Buffer.from(parsedAddress.words).toString("hex");

		return {
			encoding: "bech32m",
			parsedAddress: parsedAddress
		};

	} catch (err) {
		bech32mError = err;
	}
	

	let returnVal = {errors:[]};

	if (base58Error) {
		returnVal.errors.push(base58Error);
	}

	if (bech32Error) {
		returnVal.errors.push(bech32Error);
	}

	if (bech32mError) {
		returnVal.errors.push(bech32mError);
	}

	return returnVal;
}
